
<div>
  <%= link_to 'new', new_photo_path %>
</div>

<style type="text/css">  <%# TODO  move this to the <head> %>
    rect:hover { stroke: lime; stroke-width: 3px; }
</style>

<div class="media">
  <%# TODO  system to CRUD all the photos, and make sure the outlines work on enough browsers %>
  <% if @photo && @width && @height && @bounding_boxes %>
    <svg height="<%= @height.to_i %>" width="<%= @width.to_i %>">
      <image href="<%= @photo.image.url %>" height="<%= @height.to_i %>" width="<%= @width.to_i %>" />

      <% @bounding_boxes.each do |left, top, width, height, confidence, text| %>
        <rect x="<%= left %>" y="<%= top %>" width="<%= width %>" height="<%= height %>" fill="transparent" />
      <% end %>
    </svg>
  <% end %>
</div>
